@import "src/assets/styles/variables.scss";

:host {
  position: absolute;
  top: 0;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  z-index: 3001;
  width: 100%;
  height: 100%;
  background-color: rgba($color-white, .9);
  animation: fadein .5s ease-out 1;

  .spinner {
    position: relative;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: 5px auto 0;
    border: 5px solid #ccc;
    border-top: 5px solid $color-blue;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
